.nav-bar {
    display: flex;
    background-color: #ab47bc;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    color: white;
    /* overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; */
}

h1 {
    font-size: 2.5rem;
    cursor: pointer;
}

.menu-options {
    list-style: none;
    display: flex;
    gap: 25px;
}

li {
    cursor: pointer;
    padding-inline: 10px;
}

.option :hover {
    background-color: #82488c;
}

a {
    text-decoration: none;
    color: white;
}