.body-container{
    padding-inline: 10vw;
    background-color: #424242;
}
.form-container{
    background-color: #212121;
    min-height: 20vw;
    border-radius: 15px;
    margin-block: 10px;
    padding: 30px;
    border: 2px solid white;
    color: white;
}
h2{
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-block: 50px;
}
input{
    height: 30px;
    width: 90%;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    margin-inline: auto;
    display: block;
}
span {
    width: 90%;
    margin-inline: auto;
    display: block;
    margin-bottom: 40px;
    color: red;
}

textarea{
    border-radius: 10px;
    width: 90%;
    height: 20vh;
    padding: 5px 10px;
    font-size: 1rem;
    margin-inline: auto;
    display: block;
    resize: vertical;
}

.label-text{
    font-size: 1.5rem;
    cursor: pointer;
}
.label-container{
    width: 90%;
    margin-inline: auto;
    display: block;
    margin-bottom: 10px;
}
.action-palette{
    width: 50%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
}
.spacer{
    margin: 40px;
}

.btn{
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
#postBtn{
    background-color: #2e7d32;
    color: white;
}
#postBtn:disabled{
    background-color: #a5d6a7;
    cursor:not-allowed;
}
#cancelBtn{
    background-color: #f44336;
    color: white;
}
.cover-up{
    margin-bottom: 10px;
    color: #424242;
}